.houses {
  background-color: $light-gray;
}

.houses__pair {
  @include from-portrait {
    display: flex;
    justify-content: space-between;
  }
}

.amenities {
  flex: 1;
  @include to-portrait {
    margin-top: $vflow;
  }
}

.amenities__title {
  @include to-portrait {
    text-align: center;
  }
}

.amenities__list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  li {
    display: flex;
    align-items: center;
    flex: 0 0 49%;
    font-size: Rem(16px);
    margin-bottom: .75rem;
    @include from-portrait {
      flex-basis: 100%;
      font-size: Rem(18px);
    }
  }
}

.amenities__icon {
  flex-shrink: 0;
  flex-basis: 1.8rem;
  width: 1.8rem;
  max-height: 1.8rem;
  margin-right: .7rem;
}

.houses__intro-image {
  display: block;
  padding: $vflow / 4;
  margin: 0 auto;
  border: 1px solid rgba($black, .3);
  object-fit: cover;
  order: 1;
  @include from-portrait {
    margin-left: 1rem;
  }
  @include from-landscape {
    margin-left: Rem(18px);
  }
}

.kids-zone {
  margin-top: $vflow;
  @include from-portrait {
    display: flex;
    flex-wrap: wrap;
  }
}

.kids-zone__title {
  margin: $vflow / 2 0 $vflow / 2;
  font-weight: normal;
  text-align: center;
  font-size: Rem(25px);
  text-transform: uppercase;
  font-weight: bold;
  @include from-portrait {
    flex: 1 0 100%;
    text-align: left;
  }
}

.kids-zone__description {
  background-color: $navgray;
  padding: $vflow;
  border-radius: 1rem;
  flex: 1;
  p {
    margin-top: 0;
  }
}

.kids-zone__icon {
  display: block;
  max-width: Rem(130px);
  align-self: center;
  margin: 0 auto $vflow;
  @include from-portrait {
    flex: 1 0 Rem(130px);
    margin: 0 $vflow 0 0;
    align-self: flex-start;
  }
}
