// Containers
.container {
  width: 90%;
  margin: 0 auto;
  @include from-portrait {
    width: 80%;
    max-width: Rem(768px);
  }
}

.section {
  padding: $vflow 0;
  @include from-desktop {
    padding: $vflow * 1.5;
  }
}

.divider {
  &:after {
    content: "";
    display: block;
    width: 80%;
    margin: 0 auto;
    opacity: .15;
    border-bottom: 1px solid $black;
    padding-top: $vflow / 2;
  }
}

.section.divider {
  padding-bottom: 0;
  &:after {
    padding-top: $vflow * 1.25;
  }
}

.text--small {
  font-size: .7rem;
  font-weight: 100;
}

.text--center {
  text-align: center;
}

.img--fluid {
  max-width: 100%;
  height: auto;
}

.pull-right {
  float: right;
}

// Misc settings
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
