// Base colors
$light-gray: #fefefe;
$grayish-blue: #f7f7fc;
$gray: #d3dbde;
$black: #191919;
$navgray: #e6ecee;
$blue: #0066ff;
$light-black: #1f2121;
// Misc
$font-color: $black; // 333
$vflow: 1.7rem;
